:root {
    --beige-background: #fffcf4;
    --black: #3f3f3f;
    --red: #C70039;
    --title-font: 'hooey';
    --main-font: 'hind';
    --sm-font: 0.75rem;
}

@font-face {
    font-family: 'hooey';
    src: url(/fonts/hooey.otf);
}
@font-face {
    font-family: 'hind';
    src: url(/fonts/Hind-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media all and (min-width: 10em) {
    
    body{
        background-color: var(--beige-background);
        font-family: 'hind';
        display: flex;
        justify-content: center;
        padding: 3rem;
        color: #141E46;
    }

    .wrapper{
        width: 100%;
        position: relative;
        background-color: #fff7e6;
        border-radius: 10px;
        padding: 3rem;
        box-shadow:  6px 6px 60px #ede6d6,
                -6px -6px 60px #fffff6;
    }

    .container{
        transition: all 0.3s linear;
        margin-top: 2rem;
        display: none;
    }

    .show-container{
        display: contents;
    }
    
    .content{
        z-index: 1;
    }
    
    .clearBtn{
        text-align: center;
    }

    .overlay-image {
        position: absolute;
        top: -30px;
        right: -30px;
        width: 80px;
        height: 80px;
        z-index: 2;
        opacity: 0.6;
    }
    
    .overlay-image-2 {
        position: absolute;
        bottom: -10px;
        left: -45px;
        width: 100px;
        height: 100px;
        z-index: 2;
        opacity: 0.8;
    }

    h1{
        font-family: var(--title-font);
        text-align: center;
        color: var(--red);
        font-size: 2.5rem;
    }
    
    h3{
        font-family: var(--title-font);
        text-align: center;
        color: var(--red);
        font-size: 1.5rem;
    }  

    /* input */
    form input:focus{
        outline: 0;
        border: 1px solid var(--red);
    }

    form{
        width: 100%;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }
    
    form input{
        width: 100%;
        background-color: var(--beige-background);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 0.75px solid var(--red);
        padding-left: 0.5rem;
    }

    .item{
        font-size: var(--sm-font);
    }

    form button{
        width: 3rem;
        font-family: 'Hind';
        font-size: 0.50rem;
        background-color: var(--red);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 0.75px solid var(--red);
        color: white;
    }

    /* grocery list */
    ul{
        position: relative;
    }

    .grocery-item{
        display: flex;
        font-size: var(--sm-font);
        margin-bottom: 0.5rem;
    }

    .title{
        inline-size: 50%;
        overflow-wrap: break-word;
        text-align: start;
        color: var(--black);
        width: 75%;
        margin-left: 0.25rem;
    }

    .grocery-item .btn-container{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .btn-container button{
        margin-left: 0.25rem;
        font-size: 0.75rem;
        text-align: center;
        padding: 0.15rem;
        color: var(--black);
        border: none;
        background-color: #fff7e6;
    }

    input[type="checkbox"]{
        appearance: none;
        -webkit-appearance: none;
        background-color: #929292;
        border-radius: 2px;
        cursor:pointer;
        display: flex;
        outline: none;
        height: 0.75rem;
        width: 0.75rem;
        margin-top: 0.25rem;
    }

    input[type="checkbox"]:after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        color: #929292;
        margin-left: 0.0rem;
    }

    input[type="checkbox"]:checked{
        background-color: #FF6969;
    }

    input[type=checkbox]:checked + p
    {
        text-decoration: line-through;
        color: var(--red);
    }

    .clearBtn button{
        margin: 2rem 0rem;
        padding: 0.15rem 0.75rem;
        width: 100%;
        background-color: var(--red);
        border: 1px solid var(--red);
        border-radius: 8px;
        font: var(--main-font);
        font-size: 0.80rem;
        color: white;
    }
}

@media (min-width: 35.5em){
    .wrapper{
        width: 75%;
    }

    h1{
        font-size: 3.5rem;
    }

    .btn-container button{
        font-size: var(--sm-font);
    }

    .clearBtn{
        font-size: 0.75rem;
    }

    .submit-btn{
        font-size: var(--sm-font);
    }

    .title{
        font-size: 1rem; 
        margin-left: 0.25rem;
        width: 70%;
        margin-top: 0.5rem;
    }

    form{
        height: 2rem;
    }

    input::placeholder{
        font-size: var(--sm-font);
    }

    input[type="checkbox"]{
        height: 1rem;
        width: 1rem;
        padding: 0.15rem;
        margin-top: 0.75rem;
    }

    .btn-container button{
        font-size: 1rem;
    }
}

@media (min-width: 64em){
    .wrapper{
        max-width: 50%;
    }

    .overlay-image {
        top: -50px;
        right: -50px;
        width: 120px;
        height: 120px;
    }
    
    .overlay-image-2 {
        bottom: -30px;
        left: -45px;
        width: 120px;
        height: 120px;
    }

    h1{
        font-size: 5rem;
    }

    input::placeholder{
        font-size: 0.9rem;
    }

    .submit-btn{
        font-size: 0.85rem;
    }

    input[type="checkbox"]{
        height: 1.5rem;
        width: 2rem;
    }

    .title{
        font-size: 1.5rem;
        margin-left: 0.75rem;
    }

    .btn-container button{
        font-size: 1.25rem;
    }

    .clearBtn button{
        font-size: 1rem;
        width: 50%;
        padding: 0.5rem;
        margin-top: 2rem;
    }
}