:root {
    --beige-background: #fffcf4;
    --black: #252525;
    --red: #C70039;
    --title-font: 'hooey';
    --main-font: 'hind';
    --sm-font: 0.75rem;
}

@font-face {
    font-family: 'hooey';
    src: url(/fonts/hooey.otf);
}
@font-face {
    font-family: 'hind';
    src: url(/fonts/Hind-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media all and (min-width: 20em) {
    
    body{
        background-color: var(--beige-background);
        font-family: 'hind';
        display: flex;
        justify-content: center;
        padding: 3rem;
        color: #141E46;
    }

    .wrapper{
        width: 100%;
        position: relative;
        background-color: #fff7e6;
        border-radius: 10px;
        padding: 3rem;
        box-shadow:  6px 6px 60px #ede6d6,
                -6px -6px 60px #fffff6;
    }

    .container{
        transition: all 0.3s linear;
        margin-top: 2rem;
        display: none;
    }

    .show-container{
        display: contents;
    }
    
    .content{
        z-index: 1;
    }
    
    .clearBtn, .finishBtn{
        text-align: center;
    }

    .overlay-image {
        position: absolute;
        top: -30px;
        right: -30px;
        width: 80px;
        height: 80px;
        z-index: 2;
        opacity: 0.6;
    }
    
    .overlay-image-2 {
        position: absolute;
        bottom: -10px;
        left: -45px;
        width: 100px;
        height: 100px;
        z-index: 2;
        opacity: 0.8;
    }

    h1{
        font-family: var(--title-font);
        text-align: center;
        color: var(--red);
        font-size: 2.5rem;
    }
    
    h3{
        font-family: var(--title-font);
        text-align: center;
        color: var(--red);
        font-size: 1.5rem;
    }

    /* input */

    input:focus{
        outline: 0;
        border: 1px solid var(--red);
    }

    .input-bar{
        width: 100%;
        height: 1.25rem;
        display: flex;
        border-radius: 10px;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }
    
    .input-bar input{
        width: 100%;
        background-color: var(--beige-background);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
        border: 0.75px solid var(--red);
    }

    .item{
        font-size: var(--sm-font);
    }

    .submit-btn{
        width: 3rem;
        font-family: 'Hind';
        font-size: 0.50rem;
        background-color: var(--red);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 0.75px solid var(--red);
        color: white;
    }

    /* grocery list */
    ul{
        position: relative;
    }

    .grocery-item{
        display: flex;
        font-size: var(--sm-font);
        margin-bottom: 0.5rem;
    }

    .title{
        inline-size: 50%;
        overflow-wrap: break-word;
        text-align: start;
        color: var(--black);
    }

    .grocery-item .btn-container{
        width: 100%;
        margin-top: 0.15rem;
        position: absolute;
        display: flex;
        justify-content: end;
    }

    .btn-container button{
        margin-left: 0.25rem;
        text-align: center;
        padding: 0rem;
        font-size: 0.5rem;
        color: var(--black);
    }

    input[type="checkbox"]{
        width: 0.75rem;
        border-radius: 50%;
        margin-right: 0.25rem;
    }

    /* input[type="checkbox"]:checked{
        background-color: #C70039;
    } */

    .clearBtn button,
    .finishBtn button{
        margin: 2rem 0rem;
        padding: 0.15rem 0.75rem;
        width: 100%;
        background-color: var(--red);
        border: 1px solid var(--red);
        border-radius: 8px;
        font: var(--main-font);
        font-size: 0.5rem;
        color: white;
    }

}

@media (min-width: 48em){
    .wrapper{
        width: 75%;
    }
}